<!-- /*********************************************************************************************
*@purpose:Fundoo Resetpassword page
*@author:Soumya Chinnur
*Date:31-12-2-19
**************************************************************************************** -->
<div class="centered-container">
  <form novalidate class="md-layout" @submit.prevent="validateUser">
    <md-content class="md-elevation-3">

      <md-card class="md-layout-item md-size-120 md-small-size-150" style="padding: 60px">
        <div class="title">

          <div class="color">
            <h1>Reset Password</h1>
          </div>
        </div>

        <div class="form">
          <md-field :class="getValidationClass('newpassword')">
            <label>New Password</label>
            <md-input name="newpassword" id="newpassword" autocomplete="given-name" v-model="form.newpassword"
              :disabled="sending" />
            <span class="md-error" v-if="!$v.form.newpassword.required">The newpassword is required</span>
            <span class="md-error" v-else-if="!$v.form.newpassword">Invalid password</span>

          </md-field>
          <md-field :class="getValidationClass('confirmpassword')" md-has-password>
            <label>Confirm Password</label>
            <md-input v-model="form.confirmpassword" type="confirmpassword" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.confirmpassword.required">The confirm password is required</span>
            <span class="md-error" v-else-if="!$v.form.confirmpassword.minlength">Invalid password</span>
          </md-field>
        </div>
        <div>
          <md-button class="md-raised md-primary" type="submit">Submit</md-button>
        </div>
      </md-card>
    </md-content>
  </form>
</div>
<!--// -->