
<!-- /**********************************************************************************************
*@purpose:Fundoo ForgotPassword page
*@author:Soumya Chinnur
*Date:31-12-2-19
**************************************************************************************** -->
<div class="centered-container">
    <form novalidate class="md-layout" @submit.prevent="validateUser">
    <md-card class="md-layout-item md-size-120 md-small-size-150" style="padding: 60px">
     
  
        <div class="title">
          
          <div class="color">
            <h1>Forgot Password</h1>
          </div>
        </div>
  
        <div class="form">
            <md-field :class="getValidationClass('email')">
              <label>E-mail</label>
              <md-input name="email" id="email" autocomplete="given-name" v-model="form.email"
                :disabled="sending" />
              <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
              <span class="md-error" v-else-if="!$v.form.email">Invalid email</span>
              <!-- <md-input v-model="login.email" autofocus/> -->
            </md-field>
        </div>
       
        <div class="actions md-layout md-alignment-center-space-between">
          <!-- <a @click='register'>Create Account</a> -->
          <md-button class="md-raised md-primary" type="submit">Submit</md-button>
        </div>
  
        <!-- <div class="loading-overlay" v-if="loading">
          <md-progress-spinner md-mode="indeterminate" :md-stroke="1"></md-progress-spinner>
        </div> -->
  
      
     </md-card>
    </form>
  </div>